.container {
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    font-style: italic;
    margin-bottom: 25px;
}

.container div {
    width: 100%;
}

.filterLabel {
    border-radius: unset;
    padding: 0.2rem 1rem;
    background: white;
    border: 1px ridge;
    white-space: nowrap;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filterLabel ::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}