.dialog {
    overflow-y: auto;
    margin: 0 auto;
    margin-top: 2%;
    height: 91vh;
    width: 40vw;
    border-radius: 10px;
    transition: all 0.5s ease;
    position: relative;
    padding: 2rem 3rem;
}

.startUpDialog { 
    position: fixed;
    left: 29%;
}

.startUpDialog p {
    font-size: 15px;
}

.title {
    text-align: center;
    font-size: 4vh;
    padding-top: 0.5rem;
    font-size: 28px;
}

@media screen and (min-width: 1200px) and (max-width: 1400px){
    .urlInput {
        min-width: auto !important;
        width: 14vw !important;
        padding: 0 0.5rem !important;
    }
    .dialog {
        width: 50vw;
    }
    .imagePreviewWrapper {
        width: 18vw !important;
        height: 30vh !important;
    }
    .stepButton {
        width: max-content !important;
    }
    #websiteTitlePreview, #websiteDescriptionPreview {
        width: 18vw !important;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .imagePreviewWrapper {
        width: 21vw !important;
        height: 27vh !important;
    }
    .dialog {
        width: 50vw;
    }
    .stepButton {
        width: max-content !important;
    }
    #websiteTitlePreview, #websiteDescriptionPreview {
        width: 21vw !important;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .dialog { 
        width: 50vw;
    }
}

@media screen and (max-width: 1000px) {
    .dialog { 
        width: 50vw;
    }
    .stepButton {
        width: max-content !important;
    }
    #websiteTitlePreview, #websiteDescriptionPreview {
        width: 18vw !important;
    }
}

#firstStepDescriptionText {
    padding: 5vh 0 7vh 0;
}

#websiteInputWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.4rem;
}

.checkmark {
    display:inline-block;
    width: 13px;
    height: 26px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmarkStem {
    position: absolute;
    width: 2px;
    height: 25px;
    background-color: green;
    left: 24px;
    top: 2px;
}

.checkmarkKick {
    position: absolute;
    width: 9px;
    height: 2px;
    background-color: green;
    left: 17px;
    top: 25px;
}

.verifyButton {
    margin: 0 1.5rem;
}

#buttons {
    display: flex;
    justify-content: space-around;
}

.buttonWrapper {
    display: flex;
    justify-content: space-between;
}

#payPalComponentWrapper {
    width: 15rem;
}

.websitePreview { 
    display: flex;
    justify-content: space-between;
    padding-bottom: 7vh;
}

.websitePreview p {
    padding-right: 1rem;
}

#websiteTitlePreview, #websiteDescriptionPreview {
    z-index: 1;
    position: absolute;
    text-align: center;
    max-height: 5vh;
    width: 16vw;
    word-break: break-word;
}

#websiteTitlePreview { 
    top: 40px;
}

.imagePreviewWrapper {
    position: relative;
    width: 16vw;
    height: 24vh;
}

.imagePreviewWrapper div {
    position: unset !important;
}

.fieldGroup { 
    min-width: 19vw;
}

.confirmationDialog { 
    width: 25vw;
    height: 20vh;
    margin: 25vh auto;
    z-index: 1;
}

.confirmationDialog div {
    text-align: center;
}

.confirmationDialogButtons {
    display: flex;
    justify-content: center;
}

#stepButtonsWrapper {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    bottom: 1rem;
}

#attributesSection { 
    padding-bottom: 10vh;
}

.stepButton {
    width: 11vw;  
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.3rem 0;
}

#imageUploadOverlay { 
    position: absolute!important;
    height: 100%;
    width: 100%;
    cursor: pointer;
    font-size: 2rem;
    padding: 4rem 0.5rem;
    text-align: center;
}

.imagePreviewHovered { 
    opacity: 0.3;
    border: 2px solid !important;
    border-style: dashed !important;
    transition: all 0.3s ease-in-out;
}

.welcomeText {
    font-size: 15px;
}