.dialog {
    overflow-y: auto;
    margin: 0 auto;
    margin-top: 2%;
    height: 91vh;
    width: 40vw;
    border-radius: 10px;
    transition: all 0.5s ease;
    position: relative;
    padding: 2rem 3rem;
}

.containerLarge, .containerMedium {
    overflow-y: auto;
    margin: 0 auto;
    margin-top: 2%;
    height: 91vh;
    width: 40vw;
    border-radius: 10px;
    transition: all 0.5s ease;
    position: relative;
    padding: 1rem 3rem;    
}

.startUpDialog {
    border: 3px solid #ffaa4e;

}
.headerText {
    display: flex;
    font-size: 1.5rem;
}

.title {
    text-align: center;
    padding-top: 0.5rem;
    font-size: 28px;
}

.imagePreviewInfoWeb, .imagePreviewInfoMobile {
    text-align: center;
    height: max-content;    
    position: relative !important;
    top: 100%;
    background: #ebecec;
    width: 100%;
    border-radius: 0 0 12px 12px;
    font-size: 14px;
    height: 20vh;
    max-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.previewInfoRow {
    padding: 5px;
    word-break: break-word;
    display: grid;
}
.previewInfoRow strong {
    font-size: 12px;    
}

@media screen and (min-width: 1200px) and (max-width: 1400px){
    .urlInput {
        min-width: auto !important;
        width: 14vw !important;
        padding: 0 0.5rem !important;
    }
    .dialog {
        width: 50vw;
    }
    .imagePreviewWrapper {
        width: 18vw !important;
        height: 30vh !important;
    }
    .stepButton {
        width: max-content !important;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .imagePreviewWrapper {
        width: 21vw !important;
        height: 27vh !important;
    }
    .dialog {
        width: 50vw;
    }
    .stepButton {
        width: max-content !important;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .dialog { 
        width: 50vw;
    }
}

@media screen and (max-width: 800px) {    
    .containerSmall {
        width: 90vw;    
        border-radius: 5px;
        min-height: 55vh;
        overflow: hidden;
        position: absolute;
        margin: 30% 5%;
    }

    .containerMedium { 
        margin-top: 40%;
        width: 95vw;
        border-radius: 5px;
        height: 60vh;
        font-size: 16px;
        overflow: scroll;
    }

    .containerMediumLarge div {
        transform: none !important;
    }

    .containerLarge {
        margin: 10vh auto;
        width: 95vw;                
        border-radius: 5px;
        /* height: 80vh; */
        height: 85vh;
        overflow: unset;        
    }

    .containerMediumLarge {
        margin: 22.5vh auto;                
        width: 100vw;        
        height: 55vh;
        position: relative;  
        overflow: hidden !important;
        background: transparent;
    }

    .containerMediumLarge a {
        color: white;
        text-decoration: underline;
        font-weight: 600;
    }

    .websitePreview {
        width: 100%;
    }
    .title {        
        font-size: 20px;
        padding-bottom: 3vh;
    }
    .headerText, .headerText a {
        color: white;
        width: 100%;
        text-align: right;
        padding-right: 8px;    
    }
    .imagePreviewWrapper {
        width: 67vw !important;
    }

    .headerText a {
        border-bottom: 1px solid;
        border: none;
        font-size: 14px;        
        text-decoration: underline;
    }

    #websiteInputWrapper {
        display: block !important;
    }

    #websiteInputWrapper div {
        text-align: center;
    }

    .stepButton {
        width: auto;  
    }

    .imagePreviewInfoWeb {
        height: 22vh;
        max-height: 22vh;
    }

    .introductionDialogButton {
        margin: 15px 0;
    }

    .mobilePreviewImageWrapper {
        width: 68vw !important;
    }

    .mobileImagePreview {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .mobilePreviewImageMobile {
        height: 39.5% !important;
        min-height: 39.5% !important;
        max-height: 39.5% !important;
    }
}

#websiteInputWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.4rem;
    padding-top: 4rem;
}

.checkmark {
    display:inline-block;
    width: 13px;
    height: 26px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmarkStem {
    position: absolute;
    width: 2px;
    height: 25px;
    background-color: green;
    left: 24px;
    top: 2px;
}

.checkmarkKick {
    position: absolute;
    width: 9px;
    height: 2px;
    background-color: green;
    left: 17px;
    top: 25px;
}

.verifyButton {
    width: 100%;
}

.activePreviewModeButtons {
    width: fit-content;
    margin: auto;
    background: wheat;
    display: flex;
    justify-content: center;
}

.previewMobileButton {
    border-radius: 0 5px 5px 0 !important;
    margin: 5px 5px 5px 0;
}

.previewWebButton {
    border-radius: 5px 0 0 5px !important;
    margin: 5px 0 5px 5px;
}

#payPalComponentWrapper {
    width: 15rem;
}

.websitePreview { 
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.websitePreview p {
    font-size: 12px;
    font-style: italic;
    padding-right: 1rem;
}

.imagePreviewWrapper {
    position: relative;
    width: 16vw;
    height: 24vh;
}

.mobilePreviewImageWrapperWeb {
    position: relative;
    height: 50vh !important;
    width: 16vw;
}

.mobilePreviewImageWrapperMobile {
    position: relative;
    height: 61vh !important;
    width: 61vw;
}

.mobilePreviewImageWeb {
    height: 50% !important;
    min-height: 50% !important;
    max-height: 50% !important;
}

#stepButtonsWrapper {
    margin-left: 5px;
    display: flex;
    bottom: 1rem;
    padding-top: 4rem;
}

#attributesSection { 
    padding-top: 22vh;
}

.stepButton {
    width: 11vw;  
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.3rem 0;
}

#imageUploadOverlay, #mobileImageUploadOverlay { 
    position: absolute!important;
    height: 100%;
    width: 100%;
    cursor: pointer;
    font-size: 2rem;
    padding: 0 0.5rem;
    text-align: center;
    display: flex;
    align-items: center;
}

.imagePreviewHovered { 
    opacity: 0.3;
    border: 2px solid !important;
    border-style: dashed !important;
    transition: all 0.3s ease-in-out;
}

.welcomeText {
    width: 100%;
    font-size: 2vh;    
}

.welcomeText span {
    text-align: center;
}

.activePreviewMode {
    background: #b08f07 !important;
    color: black !important;
}