.dialog {
    overflow-y: auto;
    margin: 0 auto;
    margin-top: 2%;
    height: 91vh;
    width: 40vw;
    border-radius: 10px;
    transition: all 0.5s ease;
    position: relative;
    padding: 2rem 3rem;
}

.startUpDialog {
    border: 3px solid #ffaa4e;

}
.headerText {
    display: flex;
    font-size: 1.5rem;
}

.title {
    text-align: center;
    padding-top: 0.5rem;
    font-size: 28px;
}

.imagePreviewInfo {
    text-align: center;
    height: max-content;    
    position: relative !important;
    top: 100%;
    background: #ebecec;
    width: 100%;
    border-radius: 0 0 12px 12px;
    font-size: 14px;
    height: 20vh;
    max-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.previewInfoRow {
    padding: 5px;
    word-break: break-word;
    display: grid;
}
.previewInfoRow strong {
    font-size: 12px;    
}

@media screen and (min-width: 1200px) and (max-width: 1400px){
    .urlInput {
        min-width: auto !important;
        width: 14vw !important;
        padding: 0 0.5rem !important;
    }
    .dialog {
        width: 50vw;
    }
    .imagePreviewWrapper {
        width: 18vw !important;
        height: 30vh !important;
    }
    .stepButton {
        width: max-content !important;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .imagePreviewWrapper {
        width: 21vw !important;
        height: 27vh !important;
    }
    .dialog {
        width: 50vw;
    }
    .stepButton {
        width: max-content !important;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .dialog { 
        width: 50vw;
    }
}

@media screen and (max-width: 800px) {
    .dialog { 
        width: 100vw;
        position: absolute;
        bottom: 0;
        border-radius: 5px 5px 0 0;
        height: 75vh;
        overflow: hidden;
    }
    .dialog div {
        display: flex;
        flex-direction: column;
        align-items: center;        
    }
    .stepButton {
        width: max-content !important;
    }
    .title {        
        font-size: 20px;
        padding-bottom: 3vh;
    }
    .headerText, .headerText a {
        color: white;
        width: 100%;
    }

    .headerText a {
        border-bottom: 1px solid;
    }
}

#websiteInputWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.4rem;
    padding-top: 4rem;
}

.checkmark {
    display:inline-block;
    width: 13px;
    height: 26px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmarkStem {
    position: absolute;
    width: 2px;
    height: 25px;
    background-color: green;
    left: 24px;
    top: 2px;
}

.checkmarkKick {
    position: absolute;
    width: 9px;
    height: 2px;
    background-color: green;
    left: 17px;
    top: 25px;
}

.verifyButton {
    margin-left: 5%;
}

#buttons {
    display: flex;
    justify-content: space-around;
}

#payPalComponentWrapper {
    width: 15rem;
}

.websitePreview { 
    display: flex;
    justify-content: center;
    padding-bottom: 7vh;
}

.websitePreview p {
    font-size: 12px;
    font-style: italic;
    padding-right: 1rem;
}

.imagePreviewWrapper {
    position: relative;
    width: 16vw;
    height: 24vh;
}

#stepButtonsWrapper {
    display: flex;
    bottom: 1rem;
    padding-top: 4rem;
}

#attributesSection { 
    padding-top: 15vh;
}

.stepButton {
    width: 11vw;  
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.3rem 0;
}

#imageUploadOverlay { 
    position: absolute!important;
    height: 100%;
    width: 100%;
    cursor: pointer;
    font-size: 2rem;
    padding: 4rem 0.5rem;
    text-align: center;
}

.imagePreviewHovered { 
    opacity: 0.3;
    border: 2px solid !important;
    border-style: dashed !important;
    transition: all 0.3s ease-in-out;
}

.welcomeText {
    width: 100%;
    font-size: 2vh;
}

.welcomeText span {
    text-align: center;
}