.buttonWrapper {
    margin: 5vh 0 1vh 3vh;
}

.filtersButton {
    width: 94.5%;
    padding: 0.4rem 1.2rem 0.4rem 1.4rem;    
}

.title {
    text-align: center;
    margin-bottom: 3vh;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.3rem 0;
}

.applyFiltersButton { 
    margin-top: 5%;
    margin-left: 2.5%;
    width: 50%;
    height: 6vh;
    box-shadow: 0 0 0 1px;
    color: #cda500;
    background: white;
}

