@media screen and (max-width: 800px) {
    .container {
        margin: 25px 0 !important;
        height: auto !important;
        overflow: auto !important;
        background: white !important;
        box-shadow: unset !important;
    }
    .listItem {
        padding: 12px 8px 4px 25px !important;
        border: 1px solid lightgray;
    }
}

.container {
    background: #346b31;
    height: min-content;
    margin-right: 5px;
    min-width: 11vw;
    box-shadow: 2px 0px 10px 2px grey;
}

.fontCursive {
    /* font-family: "Damion", cursive; */
    font-style: italic;
}

.listItem, .listItemMobile {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 5px;
    padding: 12px 8px 4px 8px !important;
    text-align: center;
}

.listItem {
    width: 90%;
}

/* .listItem:hover, .listItem li:hover {
    cursor: pointer;
    background: white !important;
    color: #346b31;
} */

.listItem:hover, .listItem li:hover {
    cursor: pointer;
    background: #084a05 !important;
}

.listItem span, .listItemMobile span {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.listItem li, .listItemMobile li {
    padding: 8px !important;
    border-top: 1px ridge;
}

.activeMenu:hover {
    background: #346b31 !important;
}

.subcategories {
    display: flex;
    flex-direction: column;
}

.ungroupedListItem {
    padding: 8px !important;
}

.active {
    color: #346b31;
    border: 2px solid #346b31 !important;
}

.icon {
    width: 20px;
    height: 20px;
    transform: rotate(0deg);
    transition: transform 0.2s linear;
}

.iconActive {
    transform: rotate(180deg);
    transition: transform 0.2s linear;
}

/* .icon {
    background: url(/images/arrow.svg);
    width: 20px;
    height: 20px;
    transform: rotate(0deg);
    transition: transform 0.2s linear;
}

.iconWhite {
    background: url(/images/arrow_white.png);    
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
}

.iconWhite:hover {
    background: url(/images/arrow.svg) !important;
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
} */