.buttonWrapper {
    margin: 5vh 0 1vh 3vh;
}

.dialog {
    width: 90vw;    
    border-radius: 5px;
    min-height: 50vh;
    overflow: hidden;
    margin: 50% auto;
}

.filtersButton {
    padding: 0.4rem 1.2rem 0.4rem 1.4rem;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.3rem 0;
}

