.inputWrapper {
    padding: 0 0.5rem 0.1rem 0.5rem;
    width: 100%;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.input:focus {
    border-color: #346b31;
}

.input:disabled {
    outline: 0;
    border-color: #818181;
    border-width: 0 0 2px;
    background: white;
    opacity: 0.5;
}

.input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #d6d6d6;
    width: 100%;
    padding: 0.1rem;
    padding-left: 5px;
}

.inputNumber {
    width: 4vw;
    border-width: 1px;
    text-align: center;
    height: 25px;
    border-radius: 5px;
}

.inputWrapper input {
    margin: 0.2rem 0;
}

.disabled {
    opacity: 0.5;
}

.formControl {
    position: relative;
    min-width: 30%;
}

.label {
    min-width: max-content;
}

.checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: max-content;
}

.checkbox input {
    width: 30px;
    height: 20px;
}

@media screen and (max-width: 800px) {
    .inputNumber {
        width: 20vw;
    }
}