#textContent {
    padding: 5px 0;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
}

#appName {
    margin-left: 0.5rem;
    font-size: 2rem;
}

#appName span, #appDescription span {
    color: #fff;
}

#appDescription { 
    margin: auto;
    font-size: 1.5rem;
}

#gettingStartedWrapper { 
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}