.textContent {
    padding: 5px 0;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
}

#appName {
    margin-left: 0.5rem;
    font-size: 2.5vh;
}

#appName span {
    color: white;
}

#appDescription { 
    margin: auto;
    font-size: 2.5vh;
}

#gettingStartedWrapper { 
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media screen and (max-width: 800px) {
    .container { 
        background: #cda500;
        height: 45px;
        color: white;
        font-style: italic; 
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .menu {
        background: #cda500;
        color: black;
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        padding: 10px;
    }

    .menu div {
        padding: 2px;
    }
}