.container { 
    background: #346b31;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10vh;
    text-align: center;
}

.container div { 
    width: 60vw !important;
    height: 35vh !important;
    margin: 0 auto !important;
    border-radius: 25px !important;
}

.imageWrapper {
    position: relative !important;    
    width: 25vw !important;
    height: 35vh !important;
}

#whiteboardContainer {    
    margin: 0 auto;    
    width: 100%;
    min-height: 87vh;
    position: relative;    
    box-shadow: 0px 0px 10px 1px grey;
    background: #346b31;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;    
}

.rangeButton {
    padding: 0 7px !important;
}

.rangeButton:disabled {
    opacity: 0.3;
}

.text, .title { 
    text-align: center;
    font-size: 2.5vh;
    font-style: italic;
}

.title {
    /* font-size: 16px;     */
    font-size: 3vh;
    width: 80vw;
    margin: auto;
}

.displayFlex {
    display: flex;
}
.recentlyJoinedWrapper {

}

.recentlyJoined {

}