#pagination {
    width: 100%;
    padding: 0 0.3rem 0.1rem 0;
    background: #cda500;
    height: 4.5vh;
    border-radius: 10px 10px 0 0;
}

#paginationWrapper { 
    margin: auto;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    background: #cda500;
}

.activePage {
    background: #b08f07 !important;
    border-radius: 5px;
    color: white;
}

@media screen and (max-width: 1200px) {
    #paginationWrapper { 
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    #pagination, #paginationWrapper {
        height: 12vh;
    }
    #paginationWrapper {
        width: 95%;
        flex-direction: column;
    }
    #pagination input {
        width: 10vw !important;
    }
    #pagination button {
        box-shadow: 0 1px 1px 1px;
        border-radius: 5px;
        margin: 0.8rem 0.2rem 0 0.2rem;
    }
}

.goToPageInputWrapper {
    width: max-content !important;
    display: flex;
}

.goToPageInputWrapper label {
    margin: 0.5rem;
    color: white;
}

.goToPageInputWrapper label:hover {
    cursor: pointer;
}

#pagination button {
    border: none;
    padding: 0 0.7rem;
    height: 80%;
    min-width: max-content;
    background: #cda500;
    color: white;
    transition: all 0.s ease;
}

#currentPage {
    background: #cda500;
    color: white;
}

#pagination button:hover {
    background: #b08f07;
    color: white;
    border-radius: 5px;
}

#pagination button:active {
    background: #b08f07 !important;
    color: white;
    transition: all 0.s ease;
    border-radius: 5px;
}

#pagination input {
    outline: none;
    border: none;
    width: 3.5vw;
    height: 2.6vh;
}

#pagination input:active {
    outline: none;
}

#pagination button:hover { 
    cursor: pointer;
}