#pagination {
    width: 100%;
    padding: 0 0.3rem 0.1rem 0;    
    background: #CCCCCC;
    height: 4.5vh;
}

#paginationWrapper { 
    margin: auto;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;    
    background: #CCCCCC;
}

.activePage {
    background: white !important;
    border-radius: 5px;
    color: #CCCCCC !important;    
}

@media screen and (max-width: 1200px) {
    #paginationWrapper { 
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    #pagination, #paginationWrapper {
        height: 12vh;
        border-radius: unset;
    }
    #paginationWrapper {
        width: 95%;
        flex-direction: column;
    }
    #pagination input {
        width: 10vw !important;
    }
    #pagination button {
        font-size: 13px;
        height: auto !important;
        color: black !important;
        border-radius: 5px;
        margin: 0.8rem 0.2rem 0 0.2rem;
    }
}

.goToPageInputWrapper {
    width: max-content !important;
    display: flex;
}

.goToPageInputWrapper label {
    margin: 0.5rem;
    color: black;
    font-size: 13px;
    font-weight: 600;
}

.goToPageInputWrapper label:hover {
    cursor: pointer;
}

#pagination button {
    border: none;
    padding: 0 0.7rem;
    height: 80%;
    min-width: max-content;
    background: #CCCCCC;
    color: black;
    transition: all 0.s ease;
    font-weight: 600;
}

#currentPage {
    background: white;
    color: #CCCCCC;
}

#pagination button:hover {
    background: white;
    color: #CCCCCC;
    border-radius: 5px;
}

#pagination button:active {
    background: white !important;
    color: #CCCCCC;
    transition: all 0.s ease;
    border-radius: 5px;
}

#pagination input {
    outline: none;
    border: none;
    width: 3.5vw;
    height: 2.6vh;
}

#pagination input:active {
    outline: none;
}

#pagination button:hover { 
    cursor: pointer;
}