#pagination {
    width: 100%;
    padding: 0 0.3rem 0.1rem 0;
    /* background: #ececec; */
    /* background: #ffaa4e; */
    /* background:#dbdbdb; */
    background: #0a66c2;
    height: 4.5vh;
    border-radius: 10px 10px 0 0;
}

#paginationWrapper { 
    margin: auto;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    /* background:#dbdbdb; */
    /* background: #ffaa4e; */
    background: #0a66c2;
}

.activePage {
    /* background: #8a8585 !important; */
    /* background: #d9760a !important; */
    /* background:#dbdbdb !important; */
    background: #00478e !important;
    border-radius: 5px;
    color: white;
}

@media screen and (max-width: 1200px) {
    #paginationWrapper { 
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.goToPageInputWrapper {
    width: max-content !important;
    display: flex;
}

.goToPageInputWrapper label {
    margin: 0.5rem;
    color: white;
}

.goToPageInputWrapper label:hover {
    cursor: pointer;
}

#pagination button {
    border: none;
    padding: 0 0.7rem;
    height: 80%;
    min-width: max-content;
    /* background:#ececec; */
    /* background: #ffaa4e; */
    /* background:#dbdbdb; */
    background: #0a66c2;
    color: white;
    transition: all 0.s ease;
}

#currentPage {
    /* background: #c3c3c3 !important; */
    background: #00478e;
    color: white;
}

#pagination button:hover {
    /* background: #8a8585; */
    /* background: #d9760a; */
    /* background:#dbdbdb; */
    background: #00478e;
    color: white;
    border-radius: 5px;
}

#pagination button:active {
    /* background: #8a8585; */
    /* background: #d9760a !important; */
    /* background:#dbdbdb !important; */
    background: #00478e !important;
    color: white;
    transition: all 0.s ease;
    border-radius: 5px;
}

#pagination input {
    outline: none;
    border: none;
    width: 3.5vw;
    height: 2.6vh;
}

#pagination input:active {
    outline: none;
}

#pagination button:hover { 
    cursor: pointer;
}