.content {
    padding-top: 10vh;
    width: 30vw;
    margin: 1vh auto;
}

#amountWrapper, #amountWrapper div { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#amountWrapper {
    padding: '1rem 0';
}

.input {
    max-width: 6vw;
}