.content {
    width: 30vw;
    margin: 1vh auto;
}

#amountWrapper, #amountWrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#amountWrapper {
    padding: '1rem 0';
}

@media screen and (max-width: 800px) {
    .content {
        width: auto;
        margin: 8vh auto;
    }
}