/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

li:hover {
  background: #346b31 !important;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

a {  
  color: #346b31;
}

a:hover {
  cursor: pointer;
}

label {
  color: #979090;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Apply font family from _document.js to whole project */
html,
  body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Serif', serif;    
    font-size: 1.9vh;
    background: white;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px) {
  html, body {
    font-size: 2.5vh;
  }

  ::-webkit-scrollbar {
    width: 3.5px !important;
    height: 3.5px !important;    
  }

  ::-webkit-scrollbar-track {
    background: transparent !important;
  }
  
  ::-webkit-scrollbar
  
  ::-webkit-scrollbar-thumb {    
    border-radius: 5px;
  }
}

div#__next,
div#__next > div {
  height: 100vh;
}

/* Override class from react virtualized lib */
.ReactVirtualized__Table__Grid, .ReactVirtualized__Grid__innerScrollContainer {
  overflow: visible !important;
  height: inherit !important;
}

@media screen and (max-width: 800px) {
  .ReactVirtualized__Table__Grid, .ReactVirtualized__Grid__innerScrollContainer {
    overflow-y: auto !important;    
    overflow-x: auto !important;
    background: #b0afaf !important;    
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0
}

input[type=search] {
  width: 100%;
}

input[type=search]:focus {
  outline: none;
}

/* Customize scrollbars */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar

::-webkit-scrollbar-track {
  background: #b0afaf;
}

::-webkit-scrollbar-thumb {
  background: #b0afaf;
  border-radius: 10px;
}