.table { 
    height: 76vh;
    width: 80vw;
    border-radius: 5px;
}

.container {
    background-image: url("/images/background_light.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    height: 100%;
    width: 100%;    
}

.ReactVirtualized__Table__rowColumn {
    margin-right: 0 !important;
}

.ReactVirtualized__Table__headerColumn, .ReactVirtualized__Table__rowColumn {
    margin-right: 0 !important;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 77vw;
    height: 5.5vh;
}

.noData {
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    font-style: italic;
}

.transformOriginCenter {
    overflow: hidden;
}

.transformOriginCenter:hover {
    transform-origin: center 9vh;    
    overflow: visible;    
    border-radius: 5px;
}

.cell, .emptyCell, .cellDisabled {
    display: flex;
    justify-content: space-between;
    min-width: 4vw;
    position: relative;
    transition: transform 0.1s;
    image-rendering: crisp-edges;
    height: 100% !important;
}

.cellDisabled {
    opacity: 0.1;
    pointer-events: none;
    border: none;    
}

.cell a:hover {
    border: none;
}

.cell:hover {
    width: 100%;
    height: 100%;
    transform: scale(4.5);
    z-index: 1;
    opacity: 1;
    cursor: pointer;
}

.emptyCell:hover {
    cursor: pointer;
    z-index: 1;
    border: 1px dashed gray;
}

.websiteImage {
    -webkit-backface-visibility: hidden !important; 
    -ms-transform: translateZ(0) !important; 
    -webkit-transform: translateZ(0) !important;
    transform: translateZ(0) !important;
    animation-fill-mode: forwards;
}

.websiteImage:hover {
    border-radius: 3px 3px 0 0 !important;
}

.imageInfo {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 99%;
    background: #ebecec;
    width: 100%;
    border-radius: 0 0 3px 3px;
    font-size: 0.55vh;
    height: 4.5vh;
    justify-content: space-around;
}

.imageInfoRow {
    padding: 0 1.5px;
    word-break: break-word;
    display: grid;
}
.imageInfoRow strong {
    font-size: 0.43vh;
}

.previewImage { 
    height: 100% !important;
    min-height: unset !important;
    border: 2px dashed lightgrey !important;
}

#mainContent {
    position: relative;
    width: 80vw;
    height: 81.5vh;
    box-shadow: 0px 0px 10px 1px grey;
    background: transparent;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
}