.table { 
    height: 76vh;
    width: 80vw;
    border-radius: 5px;
}

.container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    height: 100%;
    width: 100%;    
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    .table {
        width: 100%;
        height: 78.5vh;
        border-radius: unset;
        /* border-right: 12px solid #CCCCCC; */
        border-right: 12px solid #CCCCCC;        
        /* border-left: 12px solid #CCCCCC; */
        border-left: 12px solid #CCCCCC;
    }
    #mainContent {
        width: 100vw !important;
    }
    .cell, .emptyCell {
        min-width: 17vw !important;
    }
    .cell:hover {
        transform: none !important;
    }
    .noData {
        height: 75vh;
        min-height: 75vh;
    }
    .cellDisabled {
        opacity: 1 !important;              
    }
  }


.ReactVirtualized__Table__rowColumn {
    margin-right: 0 !important;
}

.ReactVirtualized__Table__headerColumn, .ReactVirtualized__Table__rowColumn {
    margin-right: 0 !important;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 77vw;
    height: 5.5vh;
}

.noData {
    width: 100%;
    display: flex;
    height: 95%;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    font-style: italic;
    background: #346b31;
    color: white;
}

.transformOriginBottom, .transformOriginTop {
    overflow: hidden;
}

.transformOriginLeft {
    transform-origin: left !important;
}

.transformOriginRight {
    transform-origin: right !important;
}

.transformOriginBottom:hover {
    transform-origin: center 9vh;    
    overflow: visible;    
    border-radius: 5px;
}

.transformOriginTop:hover {
    transform-origin: top;    
    overflow: visible;    
    border-radius: 5px;
}

.topLeftBorder {
    border-top-left-radius: 15px;
}

.topRightBorder {
    border-top-right-radius: 15px;
}

.bottomLeftBorder {
    border-bottom-left-radius: 15px;
}

.bottomRightBorder {
    border-bottom-right-radius: 15px;
}

.cell, .emptyCell, .cellDisabled {
    display: flex;
    justify-content: space-between;
    min-width: 4vw;
    position: relative;
    transition: transform 0.1s;
    image-rendering: crisp-edges;
    height: 100% !important;
    overflow: hidden;
}

.cellDisabled {
    opacity: 0.1;
    pointer-events: none;
    border: none;    
}

.cell a:hover {
    border: none;
}

.cell:hover {
    width: 100%;
    height: 100%;
    transform: scale(4.5);
    z-index: 1;
    opacity: 1;
    cursor: pointer;
    overflow: visible;
}

.emptyCell:hover {
    cursor: pointer;
    z-index: 1;
    border: 1px dashed gray;
}

.websiteImage {
    -webkit-backface-visibility: hidden !important; 
    -ms-transform: translateZ(0) !important; 
    -webkit-transform: translateZ(0) !important;
    transform: translateZ(0) !important;
    animation-fill-mode: forwards;
    object-fit: cover;
}

.imageBordered {
    border: 0.5px white solid !important;
}

.previewImage { 
    height: 100% !important;
    min-height: unset !important;
    border: 2px dashed lightgrey !important;
    object-fit: cover;
}

#mainContent {
    position: relative;
    width: 80vw;
    height: 81.5vh;
    box-shadow: 0px 0px 10px 1px grey;
    background: #346b31;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
}