#tableWrapper {
    width: 80%;
    border-radius: 15px;
    height: 77vh;
    background: #e6e6e6;
}

.table { 
    height: 76vh;
    width: 80vw;
    background: white;
    border-radius: 5px;
}

#rightSide {
    padding-left: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.joinFirstStep, .joinSecondStep{
    width: 15vw;
    top: 0.5rem;
    right: 3vw;
}

.container {
    display: flex;
    height: 85vh;
    width: 100vw;
}

.addWebsiteCell {
    margin: 0 !important;
    padding: 0 !important;
}

.column {
    margin-right: 0 !important;
}

.ReactVirtualized__Table__rowColumn {
    margin-right: 0 !important;
}

.addWebsiteCell:hover {
    opacity: 1;
    cursor: pointer;
}

.emptyFieldWrapper div {
    height: 100%;
}

.emptyFieldWrapper:hover { 
    cursor: pointer;
    z-index: 1;
    border: 1px dashed gray;
}

.ReactVirtualized__Table__headerColumn, .ReactVirtualized__Table__rowColumn {
    margin-right: 0 !important;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 77vw;
    height: 5.5vh;
}

.cell, .emptyCell {
    display: flex;
    justify-content: space-between;
    min-width: 4vw;
    position: relative;
    transition: transform 0.1s;
    image-rendering: crisp-edges;
}

.cell a:hover {
    border: none;
}

.cell:hover {
    width: 100%;
    height: 100%;
    transform: scale(4.5);
    z-index: 1;
    opacity: 1;
    cursor: pointer;
}

.websiteImage {
    -webkit-backface-visibility: hidden !important; 
    -ms-transform: translateZ(0) !important; 
    -webkit-transform: translateZ(0) !important;
    transform: translateZ(0) !important;
}

.previewImage { 
    height: 100% !important;
    min-height: unset !important;
}

#mainContent {
    position: relative;
    width: 80vw;
    height: 81.5vh;
    box-shadow: 0px 0px 10px 1px grey;
    background: white;
}

#websiteTitle { 
    position: absolute;
    width: 100%;
    text-align: center;
    max-height: max-content;
    height: auto;
    font-size: 3.25px;
}

#websiteDescription { 
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 3.25px;
}