.displayFlex { 
    display: flex;
    align-items: center;
}

.formItemSpacing {
    margin-right: 1rem;
}

.button { 
    margin: 0 1rem;
    padding: 0.2rem;
}

.closeButton {
    float: right;
    background: #ffaa4e;
    outline: 0;
    border: none;
    height: 29px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.closeButton:hover {
    cursor: pointer;
    background: #ea730d;
}

.uploadButton {
    width: 15vw;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem 0;
}

.buttonPrimary {
    min-width: 5vw;
    border: none;
    background: #ffaa4e;
    border-radius: 5px;
    padding: 0.4rem 0.2rem 0.4rem 0.4rem;
    text-align: center;
}

.buttonPrimary:hover {
    cursor: pointer;
    background: #ea730d;
}

.buttonPrimary:disabled {
    cursor: default;
    opacity: 0.7;
}

.buttonPrimary:disabled:hover {
    background: #ffaa4e;
}

.success { 
    color: green;
    word-break: break-word;
}

.warning {
    color: #ffaa4e;
    word-break: break-word;
}

.error {
    padding-left: 5px;
    color: red;
    word-break: break-word;
}

.dropZone { 
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.dropZoneDisabled:hover { 
    cursor: default;
}

.stepTitle {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}

#linkedInWrapper { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkedInLogo, #linkedInWrapper div  { 
    position: inherit !important;
}

.linkedInLogo:hover {
    cursor: pointer;
}

.footer {
    justify-content: space-between;
    padding-top: 1vh;
}

@media screen and (max-width: 1350px) {
    .footer {
        max-width: fit-content;
    }
}

.filterSection {
    min-height: 93vh;
    padding-top: 55px;
    display: flex;
    flex-direction: column;
}

.filterSection label {
    color: black;
}

.filterListWrapper {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    max-height: 30vh;
}

.filterItem, .subcategory {
    text-align: center;
    width: 100%;
}

.filterItem, .filterItem span{
    display: block;
    box-shadow: 0px 0px 5px 0px #aaaaaa;
}

.subcategory {
    display: block;
    background: #b0adad;
}

.filterItem:hover, .subcategory:hover { 
    background: #ececec;
}

.filterListWrapper span:hover {
    cursor: pointer;
}

.activeFilter {
    background: #ececec;
}

.applyFiltersButton {
    margin-top: 2vh;
}

#descriptionSection {
    padding: 57px 10px 0 10px;
    max-width: 10vw;
}

.formControlError div div{
    border: 1px solid red !important;
}

.inputError {
    border-bottom: 2px solid red !important;
}