.displayFlex { 
    display: flex;
    align-items: center;
}

.formItemSpacing {
    margin-right: 1rem;
}

.closeButton {
    float: right;
    background: #346b31;
    outline: 0;
    border: none;
    height: 29px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: white;
}

.closeButton:hover {
    cursor: pointer;
    background: #084a05;
}

.buttonPrimary {
    min-width: 9vw;
    border: none;
    background: #346b31;
    border-radius: 5px;
    padding: 0.8rem 0.2rem 0.8rem 0.4rem;
    text-align: center;
    color: white;
}

.buttonPrimary:hover {
    cursor: pointer;
    background: #084a05;
}

.buttonPrimary:disabled {
    cursor: default;
    opacity: 0.5;
    background: #346b31;
}

.success { 
    color: #346b31;
    word-break: break-word;
}

.warning {
    color: #ffaa4e;
    word-break: break-word;
}

.error {
    padding-left: 5px;
    color: red;
    word-break: break-word;
}

.fullWidth {
    width: 100%;
}

.marginRight {
    margin-right: 15px;
}

.dropZone { 
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.dropZoneDisabled:hover { 
    cursor: default;
}

.stepTitle {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}

#linkedInWrapper { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkedInLogo, #linkedInWrapper div  { 
    position: inherit !important;
}

.linkedInLogo:hover {
    cursor: pointer;
}

.footer {
    justify-content: space-between;
    padding-top: 1vh;
    font-size: 1.5vh;
    background: #7a7f80;
    padding: 0 1vw;
    min-height: 25px;
    color: black;
}

@media screen and (max-width: 1350px) {
    .footer {
        max-width: fit-content;
    }
}

#descriptionSection {
    padding: 40px 10px 0 10px;
    max-width: 10vw;
    font-style: italic;
}

.formControlError div div{
    border: 1px solid red !important;
}

.inputError {
    border-bottom: 2px solid red !important;
}

.imageInfoBottom, .imageInfoTop {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;    
    background: white;
    width: 100%;
    font-size: 3px;
    height: 4.5vh;
    justify-content: space-around;
}

.imageInfoTop {
    bottom: 100%; 
    border-radius: 3px 3px 0 0;
    max-height: 6vh;
    min-height: 1.5vh;
    height: max-content;
    background: #7a7f80;    
    color: white;
}

.imageInfoTop span {
    font-weight: 600;
}

.imageInfoBottom {
    top: 99%;
    border-radius: 0 0 3px 3px;        
    background: #084a05;
    color: white; 
}

.imageInfoRow {
    padding: 0 1.5px;
    word-break: break-word;
    display: grid;
}

.mobileImageInfoBottom, .mobileImageInfoTop {
    background-color: rgba(100, 100, 100, 0.5);    
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 12.5vh;
    max-height: 22.5vh;
}

.mobileImageInfoTop {
    top: 0;    
}

.mobileImageInfoBottom {
    bottom: 0;    
    word-break: break-word;
}

@media screen and (max-width: 800px) {
    .mobileImageInfoBottom, .mobileImageInfoTop {        
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        color: white;
        display: flex;
        flex-direction: column;
        word-break: break-word;
        padding: 20px;
        text-align: center;
        width: 100%;
        height: 22.5vh;
        max-height: 22.5vh;
    }

    .mobileImageInfoTop {
        top: 0;
        left: 0;
    }

    .mobileImageInfoBottom {
        bottom: 0;
        left: 0
    }

    .mobilePreviewImageInfoTop, .mobilePreviewImageInfoBottom {
        position: absolute;
        max-height: 18.5vh;
        height: 18.5vh;
        word-break: break-all;
        z-index: 1;
    }

    .mobilePreviewImageInfoBottom {
        word-break: break-word;
    }

    .buttonPrimary {
        width: 100%;
    }

    .mobileImageInfoCloseButton {
        right: 5px;
        top: 5px;
        position: fixed;
        background: transparent;
        font-size: 30px;
    }

    .fontMedium {
        font-size: 14px;
    }

    .footer {
        font-size: 12px;            
        width: 100%;
        margin: auto;
    }

    .copyright {
        display: block;
        margin-top: 10px;
        text-align: center;
    }
}