.displayFlex { 
    display: flex;
    align-items: center;
}

.formItemSpacing {
    margin-right: 1rem;
}

.closeButton {
    float: right;
    background: #cda500;
    outline: 0;
    border: none;
    height: 29px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: white;
}

.closeButton:hover {
    cursor: pointer;
    background: #b08f07;
}

.buttonPrimary {
    min-width: 50px;
    border: none;
    background: #cda500;
    border-radius: 5px;
    padding: 0.4rem 0.2rem 0.4rem 0.4rem;
    text-align: center;
    color: white;
}

.buttonPrimary:hover {
    cursor: pointer;
    background: #b08f07;
}

.buttonPrimary:disabled {
    cursor: default;
    opacity: 0.5;
}

.buttonPrimary:disabled:hover {
    background: #cda500;
}

.success { 
    color: green;
    word-break: break-word;
}

.warning {
    color: #ffaa4e;
    word-break: break-word;
}

.error {
    padding-left: 5px;
    color: red;
    word-break: break-word;
}

.dropZone { 
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.dropZoneDisabled:hover { 
    cursor: default;
}

.stepTitle {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}

#linkedInWrapper { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkedInLogo, #linkedInWrapper div  { 
    position: inherit !important;
}

.linkedInLogo:hover {
    cursor: pointer;
}

.footer {
    justify-content: space-between;
    padding-top: 1vh;
    font-size: 1.5vh;
}

@media screen and (max-width: 1350px) {
    .footer {
        max-width: fit-content;
    }
}

.filterSection {
    min-height: 93vh;
    max-width: 10vw;    
    padding: 45px 5px 0 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.filterSection label {
    color: black;
}

#descriptionSection {
    padding: 57px 10px 0 10px;
    max-width: 10vw;
    font-style: italic;
}

.formControlError div div{
    border: 1px solid red !important;
}

.inputError {
    border-bottom: 2px solid red !important;
}