.displayFlex { 
    display: flex;
    align-items: center;
}

.borderRounded {
    border-radius: 10px;
}

.cursorPointer:hover {
    cursor:pointer
}

.formButton {
    display: flex;
    margin: auto;
}

.formItemSpacing {
    margin-right: 1rem;
}

.required:after {
    content:" *";
    color: red;
}

.button { 
    margin: 0 1rem;
    padding: 0.2rem;
}

#footer {
    padding-top: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}

.footnote {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 1rem;
}

.closeButton {
    float: right;
    background: #ffaa4e;
    outline: 0;
    border: none;
    height: 29px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.closeButton:hover {
    cursor: pointer;
    background: #a9a9a9;
}

.closeButton:disabled {
    cursor: default;
    background: #D8DDDE;
}

.uploadButton {
    width: 15vw;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem 0;
}

.buttonPrimary {
    min-width: 5vw;
    border: none;
    background: #ffaa4e;
    border-radius: 5px;
    padding: 0.4rem 0.2rem 0.4rem 0.4rem;
    text-align: center;
}

.buttonPrimary:hover {
    cursor: pointer;
    background: #ea730d;
}

.buttonPrimary:disabled {
    cursor: default;
    opacity: 0.7;
}

.buttonPrimary:disabled:hover {
    background: #ffaa4e;
}

.success { 
    color: green;
    word-break: break-word;
}

.warning {
    color: #ffaa4e;
    word-break: break-word;
}

.error {
    color: red;
    word-break: break-word;
}

.dropZone { 
    position: absolute;
    cursor: pointer;
    height: 100%;
}

.dropZoneDisabled:hover { 
    cursor: default;
}

.dropZone div:last-child{
    width: 0 !important;
    height: 0 !important;
}

.stepTitle {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}

.linkedInLogo:hover {
    cursor: pointer;
}

#tableBottom {
    padding: 2rem 0.5rem 0.5rem 1.5rem;
    box-shadow: 0px 5px 15px 1px grey;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#tableBottom a {
    padding: 0 0.5rem;
}

#tableBottom a:hover {
    cursor: pointer;
}